/******* GLOBAL STYLESHEET *******/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

/*** GLOGAL ***/
:root {
    /* dark grey */
    --color1: #262626;
    /* grey white */
    --color2: #ededed;
    /* electric blue */
    --color3: #232ed1;
    /* dark blue */
    --color4: #101d42;
    /* black blue */
    --color5: #0d1317;
    /* salmon */
    --color6: #ff595e;
    /* white */
    --color7: #fff;
}

* {
    /* global config for browsers */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* depend on browsers */
    scrollbar-color: var(--color3) var(--color4);
    /* if you use anchors to the page's sections */
    scroll-behavior: smooth;
}
body {
    font-family: 'Lato', sans-serif;
    color: var(--color1);
    word-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    color: var(--color1);
}
a, button{
    transition: all ease-in-out;
}
a:hover,
button:hover {
    opacity: 0.7;
    cursor: pointer;
}
button {
    padding: 15px;
    margin: 30px;
    background-color: var(--color3);
    color: var(--color7);
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    border-radius: 3px;
    outline: none;
}
nav li a:hover{
    text-decoration: underline solid var(--color6) 2px;
    opacity: 1;
}

/* NAVBAR */
header nav{
    display: flex;
    /* to stack elements on smaller screens */
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding: 10px;
    background-color: var(--color7);
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    /* fixed navbar */
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}