/* RESPONSIVE STYLESHEET */
/* Banner */
@media screen and (max-width: 450px){
    header .banner h1 {
        font-size: 2rem;
    }
    header .banner button {
        margin: 40px 30px;
        font-size: 18px;
    }
}
/* Products Section */
@media screen and (max-width: 576px) {
    .products-section .card .card-img {
        width: 250px;
        height: 250px;
    }
    .products-section .card .card-img img{
        width: inherit;
    }
}
/* Nav + Contact Section */
@media screen and (max-width: 805px){
    .contact-section{
        width: 80vw;
    }
}

@media screen and (max-width: 890px){
    header nav{
        height: 150px;
    }
    header nav .normal-nav{
        display: none;
    }
    header nav .responsive-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header nav .responsive-nav img{
        width: 18%;
    }
    header nav .responsive-nav .responsive-icons i{
        font-size: 1.8rem;
        margin: 15px;
    }
}